<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.wyn.core.mapper.HotelPicturesInfoMapper">
    <insert id="insertBatch" parameterType="list">
        INSERT INTO hotel_pictures_info ( id, hotel_id, type, url, creator_id, create_time, is_visible, is_deleted)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.hotelId},#{item.type},#{item.url},#{item.creatorId},#{item.createTime},#{item.isVisible},#{item.isDeleted})
        </foreach>

    </insert>

    <delete id="deleteByHotelId" parameterType="string">
        update hotel_pictures_info set is_deleted = 1, modified_id='SYSTEM', modified_time=now() where hotel_id = #{hotelId}
    </delete>
</mapper>
