<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.wyn.core.mapper.RoomCancelRuleInfoMapper">
    <insert id="insertBatch" parameterType="list">
        insert into room_cancel_rule_info (id, room_id,
        type, minutes,day,hour,penalty_percent,
        creator_id, create_time,
        modified_id, modified_time, is_visible,
        is_deleted)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.roomId,jdbcType=VARCHAR},
            #{item.type}, #{item.minutes},#{item.day},#{item.hour},#{item.penaltyPercent},
            #{item.creatorId,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.modifiedId,jdbcType=VARCHAR}, #{item.modifiedTime,jdbcType=TIMESTAMP}, #{item.isVisible,jdbcType=INTEGER},
            #{item.isDeleted,jdbcType=INTEGER})
        </foreach>

    </insert>
</mapper>
