<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.wyn.core.mapper.RoomTypePicturesInfoMapper">
    <insert id="insertBatch" parameterType="list">
        insert into room_type_pictures_info (id, room_type_id, url,
        type, creator_id, create_time,
        modified_id, modified_time, is_visible,
        is_deleted)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.roomTypeId,jdbcType=VARCHAR}, #{item.url,jdbcType=VARCHAR},
            #{item.type,jdbcType=INTEGER}, #{item.creatorId,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
            #{item.modifiedId,jdbcType=VARCHAR}, #{item.modifiedTime,jdbcType=TIMESTAMP}, #{item.isVisible,jdbcType=INTEGER},
            #{item.isDeleted,jdbcType=INTEGER})
        </foreach>

    </insert>

    <delete id="deleteByRoomTypeId" parameterType="string">
        update room_type_pictures_info set is_deleted = 1, modified_id='SYSTEM', modified_time=now() where room_type_id = #{roomTypeId}
    </delete>
</mapper>
