<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.wyn.core.mapper.RoomTypeInfoMapper">
    <insert id="insertBatch" parameterType="list">
        insert into room_type_info (id, hotel_id, room_type_code,
        room_type_name, room_bed_infos,
        broadnet_type, max_occupancy, area_range,
        floor_range, has_window, extra_bed_fee,
        bath_room_type, cover, low_price,
        is_selling,
        creator_id, create_time, modified_id,
        modified_time, is_visible, is_deleted
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=VARCHAR}, #{item.hotelId,jdbcType=VARCHAR}, #{item.roomTypeCode,jdbcType=VARCHAR},
            #{item.roomTypeName,jdbcType=VARCHAR}, #{item.roomBedInfos,jdbcType=VARCHAR},
            #{item.broadnetType,jdbcType=INTEGER}, #{item.maxOccupancy,jdbcType=INTEGER}, #{item.areaRange,jdbcType=VARCHAR},
            #{item.floorRange,jdbcType=VARCHAR}, #{item.hasWindow,jdbcType=INTEGER}, #{item.extraBedFee,jdbcType=DECIMAL},
            #{item.bathRoomType,jdbcType=INTEGER}, #{item.cover,jdbcType=VARCHAR}, #{item.lowPrice,jdbcType=DECIMAL},
            #{item.isSelling},
            #{item.creatorId,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.modifiedId,jdbcType=VARCHAR},
            #{item.modifiedTime,jdbcType=TIMESTAMP}, #{item.isVisible,jdbcType=INTEGER}, #{item.isDeleted,jdbcType=INTEGER}
            )
        </foreach>

    </insert>

    <delete id="deleteByRoomTypeId" parameterType="string">
        update room_type_info set is_deleted = 1, modified_id='SYSTEM', modified_time=now() where id = #{roomTypeId}
    </delete>
</mapper>
