# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.metadata
.recommenders
RemoteSystemsTempFiles
java/.classpath
java/.project
java/.settings
java/target
apache/.classpath
apache/.project
apache/.settings
apache/target
*.class
cl-spring/.classpath
cl-spring/.project
cl-spring/.settings
cl-spring/target
cl-hessian/.classpath
cl-hessian/.project
cl-hessian/.settings
cl-hessian/target
jdk1.6
shiro
Servers
.classpath
.project
.settings
target
.db
Servers
.gradle
build
.idea