<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>com/cl/spring/extend/config.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="parser" class="com.cl.spring.extend.SAXParserFactoryBean" />

	<bean id="actor0" class="com.cl.spring.extend.Actor">
		<property name="name" value="${actor.name}" />
	</bean>
		
	<bean id="actor1" class="com.cl.spring.extend.Actor">
		<property name="name" value="彭丽媛" />
	</bean>
	<bean id="actor2" class="com.cl.spring.extend.Actor">
		<property name="name" value="宋祖英" />
	</bean>
	
	<bean id="broker" class="com.cl.spring.extend.Broker" scope="prototype"></bean>
	
	<!-- 转化所有演员为经纪人
	<bean class="com.cl.spring.extend.Actor2BrokerProcessor">
	</bean> -->
	<bean  class="com.cl.spring.extend.ActorPostProcessor"></bean>
</beans>

